.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centeredLineBox {
  margin:auto;
}

/* CharacterSelectList */
.characterSelectContainer{
  cursor: pointer;
}

.selectedCharacter {
  background-color: lightblue;
  color: black;
}

/* TrackerCell */
.trackerCell {
  margin-left: 3px;
  display: inline-block;
  border: green 2px solid;
}

.trackerCell {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: 0px;
  margin:auto;
  padding:0px;
  position: relative;
  margin-left: 3px;
}

.trackerCellLabel::before,.trackerCellLabel::after {
  position: absolute;
}

.trackerCellLabel::before {
  content: "";
  cursor: pointer;
}

.trackerCellLabel::after {
  content: "";
  transform: rotate(-45deg);
  height: 8px;
  width: 14px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-color: black;
  padding: 0px;
  margin: auto;
  top:.3rem;
  left: .2rem;
  cursor: pointer;
}

/* Hide the checkmark (label::after) by default */
.trackerCell input[type="checkbox"] + label::after {
  content: none;
  cursor: pointer;
}
/* show the checkmark (label::after) when input is in state 'checked' */
.trackerCell input[type="checkbox"]:checked + label::after {
  content: "";
  cursor: pointer;
}

.trackerCell input[type="checkbox"] {
  opacity: 0;
}